/* Center the calculator */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    background-color: #1f1f20;
}

/* Calculator container */
#calsi {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: scale(1.3);
}

#display {
    min-height: 50px;
    background: black;
    color: white;
    font-size: 24px;
    padding: 10px;
    outline: none;
    cursor: text;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-x:auto ;
  
}

/* blinking cursor */
.cursor {
    display: inline-block;
    width: 2px;
    background: white;
     height: 1em;
    animation: blink 1s infinite;
    vertical-align: bottom;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Button container */
.button {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
    gap: 10px;
}

/* Buttons */
.button button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.2s;
}
button.ans {
    background-color: white !important;
    color: black !important;
    border: none;
}

/* Hover effect */
button.ans:hover {
    background-color: black !important;
    color: white !important;
}


/* Hover effect */
.button button:hover {
    background: #666;
}

/* Special buttons */


.button button:nth-child(1) {  /* C button */
    background:#ea3824;
}
.button button:nth-child(24) {  /* = button */
    background: #2ecc71;
    
}
.button button:nth-child(4) {  /* back button */
    background: #3184c4;
    
}
/* Operator buttons (+, -, /, *) */
.button button:nth-child(8),
.button button:nth-child(12),
.button button:nth-child(16),
.button button:nth-child(20),
.button button:nth-child(23){
    background: orange;
    color: white;
}
.button button:nth-child(2),
.button button:nth-child(3) {
    background:rgb(176, 76, 176) ;
    color: white;
}
/* Optional: hover effect for operators */
.button button:nth-child(8):hover,
.button button:nth-child(12):hover,
.button button:nth-child(16):hover,
.button button:nth-child(20):hover,
.button button:nth-child(23):hover{
    background: darkorange;
}
.button button:nth-child(1):hover{
      background-color: #545353;
}
.button button:nth-child(4):hover{
      background-color: #ff0000;
}
.button button:nth-child(24):hover{
      background-color:#0f0;
}
.button button:nth-child(2):hover,
.button button:nth-child(3):hover{
    background: purple;
}
.op {
    grid-column: 4;
}
